@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/* font-family: 'Peddana', serif; */

:root {
  --melon: #fcc2b1;
  --banana-mania: #ffe7ad;
  --non-photo-blue: #ade7ff;
  --mindaro: #e5ffad;
  --baby-blue-eyes: #b8d2f4;
}

* {
  font-family: "Acme", sans-serif;
}

body {
  background-color: var(--non-photo-blue);
  text-align: center;
  margin: -10px -10px 600px -10px;
}

header {
  background-color: var(--banana-mania);
  padding: 40px 20px 15px;
}

#title {
  font-size: 45px;
}

#subtitle {
  font-size: 25px;
  margin-top: -20px;
}

#app-description {
  background-color: var(--baby-blue-eyes);
  padding: 15px 200px 30px;
}

.app-use-title {
  font-size: 35px;
}

.app-use {
  font-size: 20px;
  line-height: 1.6;
}

a {
  color: #001c57;
}

a:hover {
  color: var(--mindaro);
  transition: 0.1s;
}

#user-input-div {
  background-color: var(--melon);
  padding-top: 5px;
  padding-bottom: 30px;
}

label {
  font-size: 25px;
}
input {
  font-size: 25px;
  width: 400px;
  margin-top: 15px;
  border-radius: 5px;
}

#calories {
  width: 250px;
}

::placeholder {
  font-size: 18px;
}

#add-btn {
  font-size: 25px;
  margin-top: 15px;
  width: 110px;
  height: 42px;
  background-color: var(--baby-blue-eyes);
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:active {
  background-color: blue;
  color: white;
  transition: 0.1s;
}

#sum-btn {
  font-size: 22px;
  margin-top: 15px;
  width: 250px;
  height: 45px;
  background-color: var(--baby-blue-eyes);
  border-radius: 5px;
  transition-duration: 0.2s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#sum-btn:hover {
  background-color: lightgreen;
}

#sum-btn:active {
  background-color: lightgreen;
  width: 270px;
  height: 50px;
  font-size: 23px;
}

ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

li {
  font-size: 25px;
}
